/* reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* common */
.logo, nav, .login,
.col-one, .col-two, .square,
.jumbotron-text
{
    /* test */
    border: 2px dotted black;
}

/* header */
.header-top-container
{
    padding: 10px 0;

    /* test */
    background-color: #add8e6;
}

.header-top
{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
   
    /* test */
    background-color: goldenrod;
}

.header-bottom
{
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 300px;
    background-color: blue;
}

.jumbotron-text
{
    width: 50%;

    /* test */
    height: 80%;
    background-color: #ee82ee;
} 

/* logo */
.logo
{
    width: 20%;
}

/* nav */
nav
{
    width: 60%
}

.menu
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu li
{
    padding: 0 15px;
}

.menu li a
{
    text-decoration: none;
    color: inherit;
}

/* login */
.login
{
    width: 20%;
    text-align: right;
}

/* main */
.flex-container
{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    height: 300px;
}

.col-one
{
    /* test */
    height: 80%;
    width: 55%;
    background-color: #1e90ff;
}

.col-two
{
    /* test */
    height: 80%;
    width: 30%;
    background-color: #ffc0cb;
}

.lightgrey
{
    /* test */
    background-color: lightgrey;
    height: 300px;
}

.white
{
    /* test */
    background-color: white;
}

.last-lightgrey
{
    /* test */
    background-color: lightgrey;
}

.square
{
    width: 85%;
    
    /* test */
    height: 80%;
    background-color: #228b22;
}
